<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{.Title}}</title>
<link rel="stylesheet" href="{{.Assets.MarkdownCSS}}">
<link rel="stylesheet" href="{{.Assets.HighlightCSSLite}}" media="(prefers-color-scheme: light)">
<link rel="stylesheet" href="{{.Assets.HighlightCSSDark}}" media="(prefers-color-scheme: dark)">
<link rel="stylesheet" href="{{.PageCSS}}">
<script src="{{.Assets.MarkedJS}}"></script>
<script src="{{.Assets.DOMPurifyJS}}"></script>
<script src="{{.Assets.HighlightJS}}"></script>
<script>
  const pageConfig = {{.Config}};
</script>
<script src="{{.PageJS}}" defer></script>
<style id="_document-css"></style>
</head>
<body{{if .BodyClass}} class="{{.BodyClass}}"{{end}}>
{{if .Sidebars.Entries}}<nav id="_list" class="sidebar style-{{.Sidebars.List.Style}}">{{template "entries" .Sidebars.Entries}}</nav>
{{end}}{{if .Sidebars.Outline.Style}}<nav id="_outline" class="sidebar style-{{.Sidebars.Outline.Style}}"></nav>
{{end}}<article id="_content" class="markdown-body">Loading...</article>
</body>
</html>
{{define "entries"}}<ol>{{range .}}<li>{{if .Route}}<a href="{{.Route}}"{{if .Current}} class="current"{{end}}>{{.Name}}</a>{{else}}<span>{{.Name}}</span>{{end}}{{if .Children}}{{template "entries" .Children}}{{end}}</li>{{end}}</ol>{{end}}
